.content-wrapper {
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: var(--bg-app);
  
  
  background-image: radial-gradient(circle at 50% 50%, rgba(99, 102, 241, 0.1) 0%, transparent 50%);
}

.login-card {
  display: flex;
  width: 100%;
  max-width: 950px;
  min-height: 550px;
  background-color: var(--bg-card);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-lg);
  overflow: hidden;
}

@media (max-width: 768px) {
  .login-card {
    flex-direction: column;
    height: auto;
  }
}